/* ---> HEADER STYLES */

/* fonts
tulpenone regular:
font-family: 'Tulpen One',
cursive;

chatura regular and bold:
font-family: 'Chathura',
sans-serif;*/

header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    nav {
            padding-top: 1px;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
        li a {
            line-height: 29px;
            letter-spacing: 1.9px;
            margin: 0 40px;
            text-decoration: none;
        }
    
    .logoAnchor {
        font-family: 'Tulpen One',
            cursive;
        line-height: 58px;
        letter-spacing: 2.2px;
        font-size: 72px; //this wasn´t give in the styles, I tried to guess based on the given layout
    }

    .homeAnchor {
        color: #FF8327;
    }

    h1 {
        margin: 100px 0 -70px -10px;
        // margin: 150px 0 -80 0;
        // text-align: left;
    }

    h2 {
        margin: 0;
    }

    .bigTitleDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10; 
    }

    .centralHeaderDiv {
        width: 39%;
        margin-right: auto;
        margin-left: auto;
        z-index: 20; 
        position: relative;
    }

    .secondImage {
        width: 51%;
        position: absolute;
        margin-left: 50%;
        margin-top: 5%;
        z-index: 10; 
    }

    .toggleButton {
        // for the burguer to be all the way on the right side of the screen without messing with the flow of the rest of the elements
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none; // by default the hamburguer won´t show, because we don´t want it in larger screens
        flex-direction: column; //so the spans line up on top of it other
        justify-content: space-between; //to have as much space possible in between each span of the toggleButton
        width: 30px;
        height: 21px;
    }

    // adding bars to out toggle button (because the spans have no content inside of them
    .toggleButton .bar {
        height: 3px; // each line will be 3px high
        width: 100%; // will take 100% of the width inside of the hamburguer
        background-color: white; // so that each line of the burguer shows up
        border-radius: 10px;
    }
}


// CONTACT PAGE HEADER

.contactHeader {
    background-image: url(../assets/contact-header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;

    nav {
        padding-top: 1px;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    li a {
        line-height: 29px;
        letter-spacing: 1.9px;
        margin: 0 40px;
        text-decoration: none;
    }

    .logoAnchor {
        font-family: $headingFont; //'Tulpen One',
        line-height: 58px;
        letter-spacing: 2.2px;
        font-size: 72px; //this wasn´t give in the styles, I tried to guess based on the given layout
        width: 30px;
        height: 21px;
    }

    .contactAnchor {
        color: $secondary; //#FF8327;
    }

    .getInTouch {
        margin: 100px 0 0 30px;
        padding: 0;
    }

    h2 {
            margin: 0;
            padding: 0;
            text-align: left;
        }   
}

// BLOG PAGE HEADER 

// CONTACT PAGE HEADER

.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;

    nav {
        padding-top: 1px;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    li a {
        line-height: 29px;
        letter-spacing: 1.9px;
        margin: 0 40px;
        text-decoration: none;
    }

    .logoAnchor {
        font-family: $headingFont;//'Tulpen One';
        line-height: 58px;
        letter-spacing: 2.2px;
        font-size: 72px; //this wasn´t give in the styles, I tried to guess based on the given layout
    }

    .blogAnchor {
        color: $secondary; // #FF8327;
    }

    .blog {
        margin: 100px 0 0 30px;
        padding: 0;
    }

    h2 {
        margin: 0;
        padding: 0;
        text-align: left;
    }
}