// tablets
@media (max-width: 500px) {

    // main page/index.html
    header {
        // display: flex;
        // flex-direction: column;
        height: 550px;
        // align-items: center;
        // justify-content: center;

        .navBar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
            .toggleButton {
                display: flex;
            }
    
            .navBarLinks {
                visibility: hidden;//display: none;
                width: 100%;
                overflow: hidden;
                height: 0;
                transition: all 0.5s linear;  
                // position: absolute; --> by adding this, the slide bar slides out withou moving the h1 and h2, but it doesn´t slide in anymore.
            }
    
            .navBarLinks ul {
                width: 100%;
                flex-direction: column;
                // display: flex;
                // // visibility: hidden;
                // flex-direction: column;
                // align-items: center;
                // padding: 0;
    
                li:hover {
                    background-color: rgb(46, 44, 44);
                }
    
                li {
                    width: 100%;
                }
    
                li a {
                    padding: 0;
                }
            }
    
            .navBarLinks.active {
                visibility: visible;//display: flex;
                height: 200px;
            }

            .logoAnchor {
                display: none;
            }
        }

        // end of .navBar

        .bigTitleDiv {
            margin: 200px 0 0 60px;

            h1 {
                font-size: 2rem;
            }
        }

        .secondImage {
            display: none;
        }

        .centralHeaderDiv {

            margin: 0 auto;
            padding: 0;
            width: 100%;

            .bigTitleDiv { 
                margin: 10rem 0 0 8rem;

                h1 {
                    font-size: 4rem;
                    margin: 0;
                    padding: 0;
                    line-height: normal;
                }

                h2 {
                    font-size: 2rem;
                    margin-top: -1.5rem;
                    padding-left: 2px;
                    line-height: normal;
                }
            }
        }

        // end of .centralHeaderDiv    
    }

    // end of header

    // section ABOUT
    .about {
        padding: 0;

        .flexContainers {
            display: flex;
            flex-direction: column;

            .container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .containerText h3,
                p {
                    text-align: center;
                }
            }

            //     .icons {
            //         margin-left: 25%;
            //     }

        }
    }

    // section PLAN AHEAD
    .locations {
        .flexContainer {
            flex-direction: column;
            align-items: center;

            .container {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0;


                h3 {
                    margin-top: 0.5rem;
                }

                .imageOne,
                .imageTwo {
                    display: none;
                }

                .button {
                    max-width: 10rem;
                    padding: 0.25rem 2.5rem;
                    align-items: center;
                }

                // .newLocations,
                // .planAhead {
                //     display: flex;
                //     flex-direction: column;
                //     align-items: center;
                // }

                // .planAhead {
                //     align-items: flex-start;
                // }

                // .newLocations {
                //     .button {
                //         align-self: flex-end;
                //     }
                // }

                .imageOne {
                    // align-self: flex-end; //parou de funcionar
                    // margin-left: 445px;
                    // margin-bottom: -20px;
                    align-items: center;
                }

                .imageTwo {
                    align-self: flex-start;
                    margin: -2.5rem 0 0 0;
                    margin-bottom: 50px;
                    padding-bottom: -20px;
                }
            }

            // end of .container
        }

        // end of .flexContainer
    }

    // end of .locations

    // SECTION EVENTS - só o flex colum funcionou, de resto, nada.
    .events {
        .flexContainer {
            display: flex;
            flex-direction: column;

            .flexImage {
                max-width: 70%;
                align-self: center;
                width: 90%;
                margin: -2.5rem 0 2rem 0;
            }

            .flexText {
                margin-bottom: -2.5rem;
            }
        }// end of .flexContainer
    }//end of .events

    footer ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            li img {
                margin: 1rem auto;
                max-width: 70%;
                }
            }
    
     //ANd emdiaqueries for index.html page tablet size

    // contact page
    .contactHeader {
        display: flex;
        flex-direction: column;
        height: 550px;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logoAnchor {
            display: block;
        }

        .secondImage {
            visibility: invisible;
        }

        h2 {
            margin-top: -2.5rem;
            padding-left: 0.2rem;
            line-height: normal;
        }

        .navBar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .toggleButton {
                display: flex;
            }

            .navBarLinks {
                display: none;
                width: 100%;
            }

            .navBarLinks ul {
                width: 100%;
                flex-direction: column;
                // display: flex;
                // // visibility: hidden;
                // flex-direction: column;
                // align-items: center;
                // padding: 0;

                li:hover {
                    background-color: rgb(46, 44, 44);
                }

                li {
                    width: 100%;
                }

                li a {
                    padding: 0;
                }
            }

            .navBarLinks.active {
                display: flex;
            }

            .logoAnchor {
                display: none;
            }
        }

        //end of navbar
    }

    // end of .contactHeander

    .contactMain {
        .twoColumns {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 6.5rem;
            padding-bottom: 1rem;

            .rightColumn {
                // margin-right: -4.5rem;
                width: 100%;

            }

            .rightColumn .divForm {
                width: 100%;
                height: 24rem;
                margin-right: -4.5rem;

                textarea {
                    height: 10rem;
                }

                margin-bottom: 3.5rem;
            }

            //end of .divForm

            .leftColumn {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .icons {
                    text-align: center;
                }

                .text {
                    width: 100%;

                    p {
                        margin: 0.5rem auto;
                    }

                }
            }

            // end of .leftColumn
        }

        // end of .twoColumns
    }

    //end of .contactMain

    // mediaqueries for blog page
    .blogHeader {
        display: flex;
        flex-direction: column;
        height: 25rem;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logoAnchor {
            display: block;
        }

        h2 {
            margin-top: -2.5rem;
            padding-left: 0.2rem;
            line-height: normal;
        }
        

        .logoAnchor {
            display: none;
        }
    }

        //end of navbar
    

    .blogMain {
        .twoColumns {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 2.5rem;
            align-items: center; //nao funcionou
            

            .leftColumn {
                width: 100%;

                .image {
                    display: none;
                }

                margin-bottom: 10rem;
            }

            .rightColumn {
                width: 100%;

                // align-self: center;
                .rightColumnContent {
                    .imageAndNewMenu {
                        .menuImg {
                            display: none;
                        }

                        // .newMenu {
                        //     margin-left: 4rem;
                        // } --> keeps beinig appliued despite being commented out
                    }

                    // end of imageAndNewMenu 

                    .comments {
                        width: 90%;
                        align-self: center;
                    }

                    .divForm {

                        form {
                            width: 90%;
                            align-self: center;
                            margin: 0 auto;
                            display: flex; //didn´t apply
                            flex-direction: column;//didn´t apply

                            .nameAdnEmail {
                                display: flex;//didn´t apply
                                flex-direction: column;//didn´t apply
                            }
                        }
                    }
                }

                // end of .rightColumnContent
            }

            //end of .rightColumn

        }

        //end of .twoColumns
    }

    // end of .blogMain
    // end of tablet @mediaqueries for CONTACT PAGE
}